.cajaPropiedades{
    width: 100%;
    padding: 2rem 0;
}

.cajas{
    justify-content: space-around;
    width: 100%;
    gap: 1rem;
}

.cajasLink{
    margin-right: 0;
    /*width: 22.5%;*/
    width: 260px;
    height: 400px;
}

.caja{
    max-width: 100%;
    min-width: 100%;
    margin: 0;
    height: 100%;
}

.img{
    width: 100%;
    height: 200px;
}

.imgTamano{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit:cover;
}

.subcaja1{
    flex:1;
}
.subcaja2{
    flex: 0;
    row-gap: 0.5rem;
}

.boton{
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 10px;
}

.btnAceptar{
    background-color: #96d695;
}

.btnRechazar{
    background-color: #f6a4a4;
}

.btnSolicitarCambio{
    background-color: #f0f08e;
}

/* Diseño de la pantalla emergente */

.contenidoEmergente {
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 60%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* #region MENSAJES */
#mensajes-container{
    overflow-y: scroll;
    flex: 1;
}

#mensajes-container::-webkit-scrollbar{
    display: none;
}

.mensajeHora{
    margin-bottom: 0.75rem;
}

.mensaje{
    background-color: #eceaea;
    border-radius: 10px 10px 10px 0px;
}

.hora{
    padding-left: 0.5rem;
}

/* #endregion MENSAJES*/ 

#mensaje-form{
    display: flex;
    background-color: rgb(247, 247, 247);
    margin-top: 1rem;
}

#inputEscribir{
    flex: 1;
    background-color: rgb(247, 247, 247);
    border: none;
    padding: 0.5rem;
}

#inputEscribir:focus{
    outline: none;
}

.botonMensaje{
    width: auto;
    height: auto;
    background-color:transparent;
    border: none;
}

#iconoEnviar{
    width: 2rem;
    height: auto;
}

@media screen and (max-width: 1024px ) {
    .contenidoEmergente {
        width: 60%;
        height: 60%;
    }
}

@media screen and (max-width: 768px ) {
    .contenidoEmergente {
        width: 70%;
        height: 70%;
    }
}