* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Work Sans', sans-serif !important;
    width: 100vw;
}

/* Diseño de la barra de navegacion */

.navbar-expand-lg.bg-body-tertiary {
    background-color: #38B6FF !important;
    position: fixed;
    width: 100%;
    z-index: 3 !important;
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.container-fluid {
    padding: 0 50px !important;
}

.navbar-nav.me-auto.mb-2.mb-lg-0 {
    padding-left: 20px !important;
}

.nav-link {
    color: black !important;
}

.nav-link.anunciar {
    background-color: red;
    padding: 5px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.nav-link.anunciar a {
    margin: 0 !important;
    color: white !important;
    font-weight: bold;
}

.nav-link.sesion {
    padding: 8px 0;
    text-transform: uppercase;
}

.nav-link.sesion, .nav-link.anunciar {
    margin: 10px 20px !important;
    border: none;
    overflow: none;
}

/* pequeñOs ajustes del body (main) */

.body {
    margin-top: 11vh;
    width: 100%;
    min-height: 350px;
}


/* Aqui abajo empieza el diseño sobre el footer, donde se manejaran los espacios adecuados para cada parte */

footer {
    flex: 3;
    display: flex;
    margin: 0;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: #38B6FF;
    font-family: 'Work Sans', sans-serif;
    width: 100vw;
}

/* Este espacio es el diseño del contenedor 1 del footer donde esta el Logo y los metodos de contacto */

.contenedor1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.div1 { 
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid red;
    margin-top: 30px;
    margin-left: 30px;
}

.div1 img {
    width: 50%;
    margin: 20px 20px;
}

.div2 { 
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid red;
    margin-top: 30px;
    margin-right: 30px;
    flex-direction: column;
}

.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.socialMedia {
    display: flex;
    justify-content: center;
}

/* En este estacio esta el diseño del contenedor 2 donde viene mas info de la pagina y nosotros, y tambien lo del Copyright */

.contenedor2 {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.div3 { 
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 100px;

}

a {
    margin-right: 50px;
    text-transform: uppercase;
    color: black !important;
    text-decoration: none !important;
}

a:hover {
    color: black !important;
}

a:focus {
    color: black !important;
}

.div4 { 
    flex: 1;
    margin-left: 150px;
    display: flex;
    justify-content: end;
    align-items: center;
}

p {
    color: rgb(51, 51, 51);
    margin-right: 30px;
}

@media screen and (max-width: 795px) {
    .contenedor1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .div1 {
        border-top: 2px solid red;
        margin: 20px 20px 0 20px;
    }

    .div2 {
        display: none;
    }

    .contenedor2 {
        display: none;
    }
}