.navbar-expand-lg.bg-body-tertiary {
    background-color: #38B6FF !important;
    position: none;
    width: 100%;
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.container-fluid {
    padding: 0 50px !important;
}

.navbar-nav.me-auto.mb-2.mb-lg-0 {
    padding-left: 20px !important;
}

.nav-link {
    color: black !important;
}

.nav-link.anunciar {
    background-color: red;
    padding: 5px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.nav-link.anunciar a {
    margin: 0 !important;
    color: white !important;
    font-weight: bold;
}

.nav-link.sesion {
    padding: 8px 0;
    text-transform: uppercase;
}

.nav-link.sesion, .nav-link.anunciar {
    margin: 10px 20px !important;
    border: none;
    overflow: none;
}

body {
    margin: 0;
}

.carousel.slide {
    min-width: 90%;
    margin: 0 40px;
}

.casaIndividualDerecha {
    padding: 40px;
}

.infoUsuario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 5px;
    padding: 10px;
}

.btnTelefono, .btnMensaje {
    margin: 5px 0;
    width: 80%;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 5px 0;
    display: flex;
    justify-content: space-evenly;
    padding-right: 0px;
}