body, html {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.cajaFiltro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: 70%;
    padding: 10px 0;
}

.subFiltro {
    margin: 0 20px;
    padding: 3px 10px;
    border-radius: 5px;
    border: 1px solid rgb(190, 190, 190);
    color: rgb(63, 63, 63);
    background-color: white;
}

.option:focus {
    color: black !important;
}

.subFiltro:focus {
    outline: none;
}

input[type='search'] {
    border: 1px solid rgb(190, 190, 190);
    padding: 5px 30px 5px 10px;
}

input[type='search']:focus::-webkit-search-cancel-button {
    display: none;
}

.buscadorIcon {
    border: none;
    border-radius: 8px;
    color: black;
    background-color: white;
    padding: 0px 5px;
    margin-left: -50px;
    cursor: pointer;
    background-color: white;
}


/* Aqui empieza el diseño de la seccion de las propiedades en renta */
.cajaPropiedades {
    flex-direction: column;
    max-width: 1290px;
}

.cajas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row !important;
}

.caja {
    flex: 2;
    border: 1px solid rgb(199, 199, 199);
    padding: 5px 10px;
    margin: 10px 15px;
    min-width: 190px;
    max-width: 210px;
}

.textochico {
    font-size: 12px;
}

.icono {
    display: flex;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(199, 199, 199);
}

.caja p {
    margin-bottom: 10px !important;
}

/* Diseño donde viene la paginacion */
.pagination {
    margin: 20px;
}

.page-item a {
    margin: 0;
}

.page-link {
    background-color: #f8f8f8 !important;
    border: 1px solid black !important;
    color: black !important;
    transition: 0.2s;
}

.page-link:hover {
    background-color: #ff6767 !important
}

.page-link:focus {
    background-color: red !important;
    color: white !important;
    font-weight: bold;
    box-shadow: none !important;
}

@media screen and (max-width: 1380px ) {
    .cajaFiltro {
        flex-wrap: wrap;
    }

    .subFiltro {
        margin: 5px 4px;
    }

    .cajaPropiedades {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cajas {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}