{% extends "base.html" %}
{% block head %}
{{ super() }}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rent Place</title>
    <link rel="stylesheet" href="/static/css/propiedades.css">
    <link rel="stylesheet" href="/static/css/aprobarPropiedades.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:wght@500&family=Work+Sans&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="/static/js/pantallaEmergente.js"></script>
</head>
{% endblock %}
{% block body%}
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <!-- Caja para todas las propiedades que salgan en pantalla -->
        <div class="cajaPropiedades">
            <div class="cajas">
                {% for id,casa in propiedades.items() %}
                <div class="cajasLink">
                <div class="caja">
                    <a class="img" href="/propiedades/{{id}}">
                        <img class="imgTamano" src={{casa.Fotos}}>
                    </a>
                    <h2>${{casa.Precio}}</h2>
                    <div class="subcaja">
                        <div class="subcaja1">
                            <p style="font-weight: bold;">{{casa.Titulo}}</p>
                            <p class="textochico">{{casa.ZonaEstado}}</p>
                        </div>
                        <div class="subcaja2">
                            <button class="boton btnAceptar">Aceptar</button>
                            <button class="boton btnRechazar">Rechazar</button>
                            <button class="boton btnSolicitarCambio" onclick="mostrarPantallaEmergente()">Solicitar Cambio</button>
                        </div>
                    </div>
                </div>
            </div>
                {% endfor %}
            </div>
        </div>

        <!-- Esto es para pasar de paginas si es que existen mas opciones de propiedades -->
        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>

        <div id="miPantallaEmergente" class="pantallaEmergente">
            <div class="contenidoEmergente">
                <span onclick="cerrarPantallaEmergente()" class="cerrar">&times;</span>
            </div>
        </div>

    </div>
{% endblock %}
</html>