{% extends "base.html" %}
{% block head %}
{{ super() }}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rent Place</title>
    <link rel="stylesheet" href="/static/css/casaIndividual.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</head>
{% endblock %}
{% block body %}
<div id="container-casa" style="display: flex;">
    <div style="margin: 30px;">
        <div style="display: flex; justify-content: space-between;">
            <div>
                <!-- Titulo de la casa -->
                <h2>{{propiedad.Titulo}}</h2>
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-geo-alt-fill" viewBox="0 0 16 16" style="color: rgb(240, 209, 32);">
                        <path
                            d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                    </svg>
                    <!-- Ubicacion de la casa -->
                    {{propiedad.Direccion}}
                </p>
            </div>
            <!-- Precio de la casa -->
            <div>
                <h3>${{propiedad.Precio}}</h3>
            </div>
        </div>
        <!-- Este es el carrucel de fotos de la casa -->
        <div style="display: flex; justify-content: center; align-items: center; position: initial !important;">
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{propiedad.Fotos}}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/static/img/img6.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/static/img/img4.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <!-- Cuadro de la informacion general -->
        <div class="infoGeneral">
            <h4 style="margin-bottom: 30px;">Información General</h4>
            <!-- Informacion del lado izquierdo de la informacion general -->
            <div style="display: flex; justify-content: space-between;">
                <div class="infoGeneral-izquierda">
                    <div>
                        <p>Anuncio No.</p>
                        <p>Fecha de Publicación</p>
                        <p>Estado</p>
                        <p>Forma de Vivienda</p>
                        <p>Num. de Cuartos</p>
                        <p>M<sup>2</sup></p>
                        <p>Años de la casa</p>
                    </div>
                    <div style="margin-left: 20px; font-weight: bold;">
                        <p style="color: red;">{{propiedad.ID}}</p>
                        <p>{{propiedad.Fecha}}</p>
                        <p>{{propiedad.Estado}}</p>
                        <p>{{propiedad.Categoria}}</p>
                        <p>{{propiedad.NoHabitaciones}}</p>
                        <p>{{propiedad.Metros2}}</p>
                        <p>{{propiedad.Antiguedad}}</p>
                    </div>
                </div>
                <!-- Informacion del lado derecho de la informacion general -->
                <div class="infoGeneral-derecha">
                    <div>
                        <p>Amueblada</p>
                        <p>Baños</p>
                        <p>Cochera</p>
                        <p>WiFi</p>
                        <p>Televisión</p>
                        <p>Refrigeradora</p>
                    </div>
                    <div style="margin-left: 20px; font-weight: bold;">
                        <p>{{propiedad.Amueblada}}</p>
                        <p>{{propiedad.Banos}}</p>
                        <p>{{propiedad.Cochera}}</p>
                        <p>{{propiedad.WIFI}}</p>
                        <p>{{propiedad.Television}}</p>
                        <p>{{propiedad.Refrigeradora}}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cuadro de la Descripcion -->
        <div class="descripcion">
            <h4>Descripción</h4>
            <p>{{propiedad.Descripcion}}</p>
        </div>
        <!-- Cuadro de la informacion de la ubicacion -->
        <div class="infoUbicacion">
            <h4>Información de Ubicación</h4>
            <iframe id="mapaUbicacion" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3486.786097722649!2d-110.96479732398004!3d29.08246517542222!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86ce85a066a6293b%3A0x6e5dabb78ba6fea4!2s5k%20ingenieria%20industrial%20y%20de%20sistemas!5e0!3m2!1sen!2smx!4v1695631623949!5m2!1sen!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

    <!-- Esta es la seccion de la parte de la derecha de la pantalla donde sale el info del usuario y los inputs para reservar -->
    <div class="casaIndividualDerecha">
        <div class="infoUsuario">
                <img src="/static/img/persona-removebg-preview.png" width="150px" alt="">
                <h5>{{dueno.Nombre}}</h5>
                <button class="btnTelefono">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                            class="bi bi-telephone-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                        </svg>
                    </div>
                    <div>
                        {{dueno.Telefono}}
                    </div>
                </button>
                <button class="btnMensaje">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                            class="bi bi-envelope-fill" viewBox="0 0 16 16">
                            <path
                                d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z" />
                        </svg>
                    </div>
                    <div>
                        Enviar Mensaje
                    </div>
                </button>
        

        </div>
        <!-- Seccion de la reservacion, num huespedes, llegada, salida, y boton -->
        <div class="reservacion">
            <input type="number" name="" id="" placeholder="No. Huespedes">
            <label for="">Llegada</label>
            <input type="date" name="" id="" placeholder="Llegada">
            <label for="">Salida</label>
            <input type="date" name="" id="" placeholder="Salida">
            <input class="reservar" type="submit" value="Reservar" name="reservar" id="reservar">
        </div>
    </div>
</div>
{% endblock %}

</html>