{% extends "base.html" %}
{% block head %}
{{ super() }}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Rent Place{% endblock %}</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename= 'css/index.css') }}"> -->
    <link rel="stylesheet" href="/static/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:wght@500&family=Work+Sans&display=swap" rel="stylesheet">
</head>
{% endblock %}
    {% block body %}
    <div class="contenedor">
        
        <!-- Esta es la seccion de busqueda del index -->
        <div class="cajaBuscador">
            <h1>La casa para ti esta aquí</h1>
            <div class="buscar">
                <input type="search" name="" id="" placeholder="">
                <button>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
            </div>
        </div>
        
        <!-- Esta es la seccion de destacadas del index -->
        <div class="cajaDestacadas">
            <div class="izquierdaDestacada">
                <h2>Rentas destacadas</h2>
                <a href="/propiedades"><button class="all">All</button></a>
            </div>
            
            <!-- Condicion: si existe una destacada ponerlo en un div -->
            <div class="cajas">
                {% set n = namespace(x=0) %}
                {% for id, casa in propiedades.items() %}
                    {% if n.x < 2 %}
                        <a href="/propiedades/{{id}}">
                            <div class="caja {% if casa.Activacion == 0 %}desactivada{% endif %}">
                                <div class="img">
                                    <img src={{casa.Fotos}} width="200" height="150">
                                </div>
                            <h2>${{casa.Precio}}</h2>
                            <p style="font-weight: bold;">{{casa.Categoria}} Disponible</p>
                            <p class="textochico">{{casa.ZonaEstado}}</p>
                            <p class="textochico">{{casa.Fecha}}</p>
                            <div class="icono">
                                <div class="icono">
                                    <!-- Icono para señalar el numero de cuartos dentro del departamento -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-door-closed-fill" viewBox="0 0 16 16">
                                        <path d="M12 1a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2a1 1 0 0 1 1-1h8zm-2 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                    </svg>
                                    <div class="textochico">{{casa.NoHabitaciones}}</div>
                                </div>
                                <div class="icono">
                                    <!-- Icono para señalar el numero de limite de personas dentro del departamento -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24">
                                        <path d="M2 22C2 17.5817 5.58172 14 10 14C14.4183 14 18 17.5817 18 22H2ZM10 13C6.685 13 4 10.315 4 7C4 3.685 6.685 1 10 1C13.315 1 16 3.685 16 7C16 10.315 13.315 13 10 13ZM17.3628 15.2332C20.4482 16.0217 22.7679 18.7235 22.9836 22H20C20 19.3902 19.0002 17.0139 17.3628 15.2332ZM15.3401 12.9569C16.9728 11.4922 18 9.36607 18 7C18 5.58266 17.6314 4.25141 16.9849 3.09687C19.2753 3.55397 21 5.57465 21 8C21 10.7625 18.7625 13 16 13C15.7763 13 15.556 12.9853 15.3401 12.9569Z"></path>
                                    </svg>
                                    <div class="textochico">{{casa.NoPersonas}}</div>
                                </div>
                                <div class="icono">
                                    <!-- Iocno para los señalar los metros cuadrados del departamento -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24">
                                        <path d="M4.00098 3H20.001C20.5533 3 21.001 3.44772 21.001 4V20C21.001 20.5523 20.5533 21 20.001 21H4.00098C3.44869 21 3.00098 20.5523 3.00098 20V4C3.00098 3.44772 3.44869 3 4.00098 3ZM17.3019 15.9403C17.2014 15.8901 17.1512 15.7394 17.1512 15.639V8.00643C17.1512 7.906 17.2014 7.75536 17.3019 7.65493L18.256 6.55021V6.5H14.8413L12.2802 12.9776L9.36765 6.5H5.85249V6.55021L6.75639 7.80557C6.95726 8.00643 7.00747 8.30771 7.00747 8.55879V14.0824C7.05769 14.3836 7.00747 14.7351 6.85682 15.0364L5.50098 16.8944V16.9446H9.11657V16.8944L7.76072 15.0866C7.61007 14.7854 7.55985 14.4841 7.61007 14.1326V9.11114C7.66029 9.21157 7.7105 9.21157 7.76072 9.41243L11.1754 17.045H11.2257L14.54 8.75964C14.4897 9.06093 14.4897 9.41243 14.4897 9.6635V15.5888C14.4897 15.7394 14.4395 15.8399 14.3391 15.9403L13.3348 16.8944V16.9446H18.256V16.8944L17.3019 15.9403Z"></path>
                                    </svg>
                                    <div class="textochico">{{casa.Metros2}}</div>
                                </div>
                            </div>
                        </div>
                        </a>
                    {% endif %}
                    {% set n.x = n.x + 1 %}
                {% endfor %}
            </div>
        </div>
        
        <!-- Esta es la seccion inferior del index -->
        <div class="cajaBuscarMapa">
            <div class="izquierda">
                <h2>Busque la casa en renta en el mapa</h2>
                <p>Encuentre la casa que buscas fácilmente según la información de ubicación</p>
                <button>Buscar en el mapa</button>
            </div>
            <div class="derecha">
                <img src="/static/img/img7.jpg" width="400">
            </div>
        </div>
    </div>
{% endblock %}
</html>